body {
  font-family: sans-serif;
  font-size: 13px;
}

main {
  width: 600px;
}

section {
  margin: 0 0 10px 0;
}

textarea {
  width: calc(100% - 6px);
  height: 300px;

  font-family: monospace;

  resize: none;
  white-space: pre;
  overflow: auto;
}

button {
  padding: 2px 4px;
  cursor: pointer;
}

label.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
}

input[type='checkbox'] {
  flex: none;
  margin-right: 5px;
}

#extract {
  float: right;
}
