body {
  padding: 5px;
  font-family: sans-serif;
  font-size: 13px;
  min-width: 600px;
}

section {
  margin: 0 0 10px 0;
}

label[for='urls'] {
  display: block;
  margin-bottom: 4px;
}

textarea {
  width: calc(100% - 6px);
  min-height: 300px;
  flex-grow: 1;

  font-family: monospace;

  resize: none;
  white-space: pre;
  overflow: auto;

  outline: none;
}

button {
  padding: 4px 8px;
  cursor: pointer;
}

#tabcount {
  padding-left: 5px;
}

#tabcount abbr {
  cursor: default;
  text-decoration: none;
  border-bottom: none;
}

#tabcount > abbr > span {
  border-bottom: 1px dotted #000;
}

hr {
  margin: 20px 0 15px 0;
  border: none;
  border-top: 1px solid #c0c0c0;
}

label.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

input[type='checkbox'] {
  flex: none;
  margin-right: 5px;
}

#extract {
  float: right;
}
